<h1>РЕЗУЛЬТАТЫ ПОИСКА</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Вид услуг</th>
            <th scope="col">Адрес</th>
            <th scope="col">Список услуг</th>
        </tr>
    </thead>
    <tbody>
        {{#if result.length}}
            {{#each result}}
                <tr>
                    <td scope="row">{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.serviceType}}</td>
                    <td>{{this.address}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Список услуг
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {{#each this.serviceList}}
                                    <li class="dropdown-item"> {{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="4" align="center">По вашему запросу ничего не найдено...</td>
            </tr>
        {{/if}}
    </tbody>
</table>
